# Importing Libraries

In [3]:
import pandas as pd
import numpy as np
import os

In [5]:
# defining path

path = r'/Users/tanu/Desktop/Instacart Basket Analysis/02 Data'

In [7]:
# Importing data set

ords_prods_merge = pd.read_pickle(os.path.join(path,'Prepared data','ords_prods_merge_new.pkl'))

In [9]:
# creating subset

df = ords_prods_merge[:1000000]

In [11]:
df.shape

(1000000, 14)

In [13]:
# defining a function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [15]:
# Applying a function

df['price_range'] = df.apply(price_label, axis = 1)

/var/folders/tn/7968l_p11wbcjd89795bwnb40000gn/T/ipykernel_35026/1717284528.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [21]:
# Checking values of new function

df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673340
Low-range product    314392
High range            12268
Name: count, dtype: int64

In [23]:
# Using the predefined loc function

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

/var/folders/tn/7968l_p11wbcjd89795bwnb40000gn/T/ipykernel_35026/1797144534.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

In [33]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [35]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'low range product'

In [37]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid range product     673340
low range product     314392
High range product     12268
Name: count, dtype: int64

In [39]:
# Applying loc function to whole data

In [41]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High range product'

In [43]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [45]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'low range product'

In [47]:
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
NaN                   21192647
low range product     10126321
Mid range product       673340
High range product      412551
Name: count, dtype: int64

In [49]:
ords_prods_merge.isnull().sum()

order_id                         0
user_id                          0
order_number                     0
order_day_of_the_week            0
order_hour_of_day                0
days_since_prior_order           0
product_id                       0
add_to_cart_order                0
reordered                        0
product_name                     0
aisle_id                         0
department_id                    0
prices                           0
Match                            0
price_range_loc           21192647
dtype: int64

In [53]:
ords_prods_merge.dtypes

order_id                     int64
user_id                      int64
order_number                 int64
order_day_of_the_week        int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
Match                     category
price_range_loc             object
dtype: object

In [97]:
ords_prods_merge.head(1001000)

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Match,price_range_loc
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both,Mid range product
1,2539329,1,1,2,8,7.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid range product
2,2539329,1,1,2,8,7.0,12427,3,0,Original Beef Jerky,23,19,4.4,both,low range product
3,2539329,1,1,2,8,7.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both,low range product
4,2539329,1,1,2,8,7.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,low range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000995,36501,6485,5,6,11,8.0,29448,17,1,No Salt Added Solid Light Tuna In Water,95,15,14.7,both,NaN
1000996,36501,6485,5,6,11,8.0,8479,18,1,Original Black Box Tablewater Cracker,78,19,3.5,both,low range product
1000997,36501,6485,5,6,11,8.0,45364,19,0,California Veggie Burgers - 4 CT,42,1,6.8,both,NaN
1000998,3263106,6485,6,6,10,7.0,12187,1,1,Ground Coffee Classico Medium Roast,26,7,4.6,both,low range product
1000999,3263106,6485,6,6,10,7.0,31683,2,1,Original No Pulp 100% Florida Orange Juice,31,7,1.8,both,low range product

In [59]:
ords_prods_merge['Match'].value_counts()

Match
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [73]:
df_nan = ords_prods_merge.loc[ords_prods_merge['product_id'] == 45570]

In [75]:
df_nan.shape

(6812, 15)

In [87]:
df_nan

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Match,price_range_loc
10140,1913204,79,1,0,12,7.0,45570,10,0,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,Mid range product
10150,3189274,79,2,0,14,7.0,45570,8,1,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,Mid range product
10170,2246974,79,4,0,16,13.0,45570,10,1,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,Mid range product
10184,1390523,79,5,0,2,21.0,45570,7,1,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,Mid range product
10206,2726708,79,6,1,19,30.0,45570,3,1,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,Mid range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32398343,341493,206165,24,6,19,6.0,45570,14,0,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,NaN
32398385,1538507,206165,25,6,19,0.0,45570,23,1,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,NaN
32399410,1480017,206174,44,0,18,3.0,45570,2,0,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,NaN
32399474,2642385,206174,48,2,22,2.0,45570,19,1,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,NaN
32399511,1385465,206174,52,1,9,3.0,45570,7,1,Organic Greek Plain Nonfat Yogurt,120,16,9.4,both,NaN

In [93]:
df_nan.to_csv(os.path.join(path,'Prepared data','NaN_issue.csv'))

In [99]:
df_nan_2 = ords_prods_merge.loc[ords_prods_merge['prices'] == 14.7]

In [101]:
df_nan_2.shape

(279291, 15)

In [103]:
df_nan_2

,order_id,user_id,order_number,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,Match,price_range_loc
589,2984707,7,18,0,9,7.0,26209,3,0,Limes,24,4,14.7,both,Mid range product
809,2115522,10,3,3,19,12.0,26209,17,0,Limes,24,4,14.7,both,Mid range product
935,1611810,11,4,5,13,30.0,26209,10,0,Limes,24,4,14.7,both,Mid range product
1227,2505309,14,7,5,10,30.0,26209,3,0,Limes,24,4,14.7,both,Mid range product
1484,2000615,16,6,0,14,26.0,48283,10,0,Premium Vanilla Mochi Ice Cream,37,1,14.7,both,Mid range product
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32403369,395144,206203,2,0,18,30.0,26209,8,1,Limes,24,4,14.7,both,NaN
32403528,969311,206205,1,4,12,7.0,49628,16,0,Yoghurt Blueberry,120,16,14.7,both,NaN
32403774,2960815,206206,53,2,18,9.0,26209,9,0,Limes,24,4,14.7,both,NaN
32404496,2254244,206208,33,6,13,7.0,26209,5,0,Limes,24,4,14.7,both,NaN
32404837,626363,206209,12,1,12,18.0,26209,8,0,Limes,24,4,14.7,both,NaN

In [107]:
for col in df_nan.columns.tolist():
  weird = (df_nan[[col]].map(type) != df_nan[[col]].iloc[0].map(type)).any(axis = 1)
  if len (df_nan[weird]) > 0:
    print (col)

price_range_loc

In [109]:
print(df_nan['price_range_loc'].apply(type).value_counts())

price_range_loc
<class 'float'>    6642
<class 'str'>       170
Name: count, dtype: int64

In [111]:
print(ords_prods_merge['prices'].dtype)

float64

In [113]:
ords_prods_merge['price_range_loc'].isna().sum()

21192647

In [115]:
ords_prods_merge[ords_prods_merge['price_range_loc'].isna()]['prices'].unique()

array([ 7.  , 14.  ,  7.9 , 10.5 , 13.4 ,  8.6 ,  6.8 ,  6.  ,  5.3 ,
       11.7 ,  7.5 , 12.3 ,  9.9 , 14.7 , 12.  , 10.3 ,  9.1 ,  7.1 ,
        9.7 ,  9.4 , 12.9 ,  7.6 , 13.7 , 10.7 , 14.8 , 12.5 , 14.2 ,
       10.2 ,  5.5 , 11.3 , 13.6 ,  5.7 ,  6.3 , 10.  , 13.5 , 11.8 ,
       11.2 , 14.9 , 10.6 ,  6.2 ,  6.5 ,  8.5 , 12.2 ,  6.7 ,  9.6 ,
       12.7 ,  6.4 , 10.4 ,  8.8 ,  5.4 , 13.3 , 13.8 , 14.5 , 11.  ,
        6.9 , 10.8 , 11.4 , 14.3 ,  5.1 ,  5.9 ,  8.3 ,  8.1 ,  7.7 ,
        7.8 ,  7.2 ,  8.4 ,  5.2 , 13.  ,  8.2 ,  5.6 , 12.6 , 11.6 ,
       13.1 ,  7.3 , 11.1 , 12.8 , 11.5 , 12.4 ,  8.7 ,  9.5 , 10.9 ,
        5.8 , 13.2 ,  9.8 , 14.1 ,  9.3 , 10.1 , 14.4 ,  6.1 , 15.  ,
        8.9 , 14.6 , 13.9 ,  8.  ,  7.4 ,  6.6 , 12.1 , 11.9 ,  9.  ,
        9.2 ,  9.99])

In [119]:
ords_prods_merge.loc[ords_prods_merge['prices'].isna(), 'price_range_loc'] = 'Unknown'

In [121]:
ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
NaN                   21192647
low range product     10126321
Mid range product       673340
High range product      412551
Name: count, dtype: int64

In [123]:
ords_prods_merge['prices'] = ords_prods_merge['prices'].round(2)

In [127]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [129]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [131]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [133]:
ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     21865987
Low-range product     10126321
High-range product      412551
Name: count, dtype: int64